absl-py==2.0.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
anyascii==0.3.2
anyio==3.7.1
APScheduler==3.6.3
argcomplete==2.0.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.1
Babel==2.14.0
bangla==0.0.2
Beaker==1.12.1
beautifulsoup4==4.12.2
blinker==1.7.0
blis==0.7.11
blivet==3.7.1
blivet-gui==2.4.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
Brlapi==0.8.4
Brotli==1.0.9
build==1.0.3
cachetools==4.2.2
catalogue==2.0.10
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
cloudpathlib==0.16.0
cmake==3.28.1
colorama==0.4.6
confection==0.1.4
contourpy==1.2.0
coqpit==0.0.17
cryptography==37.0.2
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.6
dasbus==1.7
dataclasses-json==0.5.7
dateparser==1.1.8
dbus-python==1.3.2
decorator==5.1.1
deep-translator==1.11.1
deepface==0.0.80
Deprecated==1.2.14
distlib==0.3.6
distro==1.8.0
Django==4.2.2
django-cors-headers==4.0.0
djangorestframework==3.14.0
dlib==19.24.99
dnf==4.18.2
dnspython==2.3.0
docopt==0.6.2
ecdsa==0.18.0
einops==0.7.0
encodec==0.1.1
executing==2.0.1
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.7.4
fastapi==0.105.0
fastapi-jwt-auth==0.5.0
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.9.0
fire==0.5.0
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.46.0
fros==1.1
frozenlist==1.3.3
fsspec==2023.5.0
g2pkk==0.1.2
gast==0.5.4
gdown==4.7.1
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
google-tts==1.0.1
gpg==1.17.1
greenlet==2.0.2
grpcio==1.60.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gTTS==2.5.0
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hangul-romanize==0.1.0
hpack==4.0.0
httpcore==0.16.3
httptools==0.6.1
httpx==0.23.3
huggingface-hub==0.15.1
humanize==3.13.1
hyperframe==6.0.1
idna==3.4
inflect==7.0.0
install==1.3.5
ipython==8.19.0
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonlines==1.2.0
keras==2.15.0
kiwisolver==1.4.5
langchain==0.0.191
langcodes==3.3.0
langid==1.1.6
langtable==0.0.64
lazy_loader==0.3
libclang==16.0.6
libcomps==0.1.20
libdnf==0.72.0
librosa==0.10.1
llvmlite==0.41.1
lxml==4.9.2
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mediapipe==0.9.0.1
ml-dtypes==0.2.0
mpmath==1.2.1
msgpack==1.0.7
mtcnn==0.1.1
multidict==6.0.4
murmurhash==1.0.10
mutagen==1.46.0
mypy-extensions==1.0.0
networkx==3.0
nftables==0.1
nltk==3.8.1
num2words==0.5.13
numba==0.58.1
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
openai==0.27.7
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.9.0.80
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==23.1
pandas==1.5.3
parsel==1.8.1
parso==0.8.3
passlib==1.7.4
Paste==3.5.2
pexpect==4.8.0
pid==2.2.3
Pillow==9.3.0
pip-tools==7.3.0
pipreqs==0.4.13
platformdirs==2.6.0
playsound==1.2.2
ply==3.11
pooch==1.8.0
preshed==3.0.9
productmd==1.38
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.23.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.19.0
pycups==2.0.1
pycurl==7.45.2
pydantic==1.10.8
pydantic_core==2.14.5
pydub==0.25.1
pyenchant==3.2.2
Pygments==2.17.2
PyGObject==3.44.2
PyJWT==1.7.1
pykickstart==3.47
pymongo==3.11.0
pynndescent==0.5.11
pyOpenSSL==21.0.0
pyparsing==3.1.1
pyparted==3.12.0
PyPDF2==3.0.1
pypinyin==0.50.0
pyproject_hooks==1.0.0
pysbd==0.3.4
PySocks==1.7.1
python-augeas==1.1.0
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-jose==3.3.0
python-meh==0.51
python-multipart==0.0.6
python-telegram-bot==20.1
pytz==2023.3
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
regex==2023.6.3
requests==2.30.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
retina-face==0.0.13
rfc3986==1.5.0
rpm==4.18.2
rsa==4.9
safetensors==0.4.1
scikit-learn==1.2.2
scipy==1.10.1
screeninfo==0.8.1
seaborn==0.11.2
selectorlib==0.16.0
selinux==3.5
sentence-transformers==2.2.2
sentencepiece==0.1.99
sepolicy==3.5
setools==4.4.3
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sos==4.5.1
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.15
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.27.0
SudachiDict-core==20230927
SudachiPy==0.6.8
sympy==1.11.1
systemd-python==235
telegram==0.0.1
Tempita==0.5.2
tenacity==8.2.2
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.35.0
termcolor==2.4.0
thinc==8.2.2
threadpoolctl==3.1.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.3.3
tqdm==4.65.0
trainer==0.0.36
traitlets==5.14.1
transformers==4.29.2
triton==2.1.0
TTS==0.22.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.1
umap-learn==0.5.5
Unidecode==1.3.7
urllib3==2.0.2
uvicorn==0.25.0
uvloop==0.19.0
virtualenv==20.21.1
w3lib==2.1.2
wasabi==1.1.2
watchfiles==0.21.0
wcwidth==0.2.12
weasel==0.3.4
websockets==10.4
Werkzeug==3.0.1
wrapt==1.14.1
yarg==0.1.9
yarl==1.9.2
yt-dlp==2023.10.7
